{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
{{^has tag="#about"}}
<article class="{{post_class}} wrapper">
    <header class="head">

        <h1 class="link-title"><a href="{{url}}">{{{title}}}</a></h1>
        <time class="date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, "}}<span class="year">{{date format="YYYY"}}</span></time>

    </header>

    <section class="post-excerpt {{post_class}}">
        {{! Display header image, if assigned }}
        {{#if image}}
        <div class="big-img">
            <img src="{{image}}" />
        </div>
        {{/if}}

        {{content words="100"}}
        <a class="read-more link-button" href="{{url}}">Continue Reading...</a>
    </section>
    <footer class="post-meta">

    </footer>
</article>
{{/has}}
{{/foreach}}
