{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{post_class}} wrapper">
    <header class="head">

        <h1 class="link-title"><a href="{{url}}">{{{title}}}</a></h1>
        <time class="date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="MMMM DD, "}}<span class="year">{{date format="YYYY"}}</span></time>

        {{! Display tags, if assigned}}
        {{#if tags}}
        <ul class="tags link-secondary"><li>{{tags separator="</li><li>"}}</li></ul>
        {{/if}}

    </header>

    <section class="post-excerpt {{post_class}}">
        {{! Display header image, if assigned }}
        {{#if image}}
        <div class="big-img">
            <img src="{{image}}" />
        </div>
        {{/if}}

        {{content words="100"}}
        <a class="read-more" href="{{url}}">Continue Reading &raquo;</a>
    </section>
    <footer class="post-meta">

    </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{pagination}}
