<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>
<body class="{{body_class}} nav-closed">
    <div id="bg-head" style="background-image: url({{@blog.cover}})"
></div>

    <div id="header">
    	<div class="wrapper">
            <div id="ribbon-vert"></div>
    		<a href="{{@blog.url}}" class="link-nostyle">
                <svg id="logo" class="unselectable" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 800 801" width="200px">
                  <g stroke-width="1">
                    <path id="logo-d" d="M496.013 93.9485l147.1374 17.54v181.7742L496.005 286.601m304.992 386.3786L506.7066 707.96V311.0816L661.21 317.001l-.0225-203.0196L800.993 129.013c.016 181.3234.004 362.643.004 543.9667zM669.904 449.039h-16.0523v97.7216l16.0523-1.2492z" fill="#ffffff"/>
                    <path id="logo-s" d="M496.0974 93.8514s-331.4248 23.3243-497.09 35.146c.0078 116.9975.004 234.6402.004 351.8727l309 6.706-.0206 23.747-308.9794-8.4453v170.122l486.3382 35.3956V312.216l-338.5558 7.137v-23.0265l349.3036-9.859" fill="#eeeeee"/>
                  </g>
                </svg>
            </a>
    		<div id="text">
    			<div id="name" class=""><a href="{{@blog.url}}" class="link-nostyle">{{@blog.title}}</a></div>

                {{navigation}}

    		</div>
    	</div>
    </div>

    <div id="container" class="wrapper" role="main">
        {{! Everything else gets inserted here }}
        {{{body}}}
    </div>

    <div id="footer" class="drop-shadow">
    	<div class="link-neutral wrapper center-text">
    		<a href="{{@blog.url}}">Simon DeMartini</a>
    		<br>
            {{navigation}}
    	</div>
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
