<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />
    <!--[if IE]>
	   <link rel="stylesheet" type="text/css" href="{{asset "css/ie.css"}}" />
    <![endif]-->

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>
<body class="{{body_class}} nav-closed">
    <div id="container" role="main">

        <div id="header">
        	<div class="wrapper">
        		<a href="{{@blog.url}}" draggable="false" class="link-nostyle unselectable" id="logo">
                    <div draggable="false"  class="unselectable">
                    </div>
                </a>
        		<div id="text">
        			<div id="name" class=""><a href="{{@blog.url}}" class="link-nostyle">{{@blog.title}}</a></div>

                    {{navigation}}

        		</div>
        	</div>
        </div>

        <div id="content" class=wrapper>
            {{! Everything else gets inserted here }}
            {{{body}}}
        </div>

        <div id="footer" class="">
            <div class="wrapper center-text">
                <a href="{{@blog.url}}">{{@blog.title}}</a>
                <br>
                {{navigation}}
            </div>
        </div>
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
