<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

</head>
<body class="{{body_class}} nav-closed">
    <div id="bg-head" style="background-image: url({{@blog.cover}})"></div>

    <div id="header">
    	<div class="wrapper">
    		<a href="{{@blog.url}}" class="link-nostyle"><img id="logo" class="unselectable" src="{{asset "img/sd-square.svg"}}" /></a>
    		<div id="text">
    			<div id="name" class=" hidden-sml"><a href="{{@blog.url}}" class="link-nostyle">{{@blog.title}}</a></div>

                {{navigation}}

    		</div>
    	</div>
    </div>

    <div id="container" class="wrapper" role="main">

        {{! Everything else gets inserted here }}
        {{{body}}}

    </div>

    <div id="footer">
    	<div class="link-neutral wrapper center-text">
    		<a href="{{@blog.url}}">Simon DeMartini</a>
    		<br>
            {{navigation}}
    	</div>
    </div>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

</body>
</html>
